<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Birthday Today</title>
    <link rel="stylesheet" text="text/css" href ="/birthday_style.css">
  <head>

<body>
    <h1> 'Happy Birthday day to you' </h1>
    <h1> 'Happy Birthday day to you' </h1>
    <h1> 'Happy Birthday dear, <%= @name %>' </h1>
    <h1> 'Happy Birthday to you' </h1>
</body>

<footer>
  <ul>
    <a href="./">Home</a>
  </ul>
</footer>
</html>
