<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Birthday Today</title>
  <head>

<body bgcolor="#FBF49D">
  
  <% if @today_date == @today_date %>
    <h1> 'Happy Birthday day to you' </h1>
    <h1> 'Happy Birthday day to you' </h1>
    <h1> 'Happy Birthday, <%= @name %>' </h1>
    <h1> 'Happy Birthday to you' </h1>
  <% end %>

  <% if @today_date == @today_date %>
    <%= @message %>
  <% end %>

</body>
</html>
