<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Birthday Greeter</title>
  <link rel="stylesheet" text="text/css" href ="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li>One,</li>
      <li>Two,</li>
      <li>Three,</li>
      <li>Blowwwwwww</li>
    </ul>
  </nav>
  <main>
    <h1> Happy Birthday Checker </h1>
    <br>
    <p>
      "Happy Birthday", is a song traditionally sung to celebrate the
      anniversary of a person's birth.
    </p>
    <br>
    <p>
      Click 'Enter' to find out when it will be sung to you!
    <p>
    <form action="./info" >
    <button type ="Submit">Enter</button>
  </main>
</body>
</html>
