<body bgcolor="#9DFBCF">
<h1> What is your name? </h1>
<form action="/birthday">
    <input type="text" name="name">
    <input type="submit" value="Submit">
</form>
<h1> What is your date of birth? </h1>
<form action="/birthday">
    <input type="text" name="name">
    <input type="submit" value="Submit">
</form>
