<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Birthday Greeter</title>
    <link rel="stylesheet" text="text/css" href ="/styles.css">
  <head>

<body class="user" bgcolor="#9DFBCF">

<main>
  <nav>
    <ul>
      <a href="./">Home</a>
    </ul>
  </nav>
<form action="/nameform" method="post">
<h1> What is your name? </h1>
    <input type="text" name="name"><br>
<h1> What date were you born on? </h1>
    <input type="text" name="date"><br>
<h1> What month were you born in?</h1>
    <input type="text" name="month"><br>
<h1> What year were you born in?</h1>
    <input type="text" name="year"><br>

    <button type ="Submit">Enter</button>

  </form>
</main>
</body>
</html>
